body{
    background-color: #ddd;
    margin: 0;
    padding: 0;
}

main, footer{
    padding: 10px 20px;
}

.tabela, th, tr, td{
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    border-color: blue;/*Estiliza a cor*/
    border-width: 3px;/*Estiliza a largura*/
    border-style: solid;/*Estiliza o estilo*/
}

ul{
    background-color: linear-gradient(to top, #003366, #065cb2);
    margin: 0;
}
ul a{text-decoration: none;}

li{
    display: inline-block;
    color: #FFF;
    padding: 5px;
    font-weight: bold;
}

li:hover{background-image: linear-gradient(to top, #003366, #065cb2);}
/*hover é utilizado para aplicar estilos em um link quando o mouse passa por cima dele*/

.botao{
    border: solid 1px blue;
    border-radius: 20px;
    color: blue;
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.botao:hover{
    background-color: blue;
    color: white;
    transform: scale(1.2);
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #ccc;
    text-align: center;
}